h1.head-1{
  text-align: center;
  font: normal normal bold 18px/1.5em sans-serif, arial;
  text-decoration: underline grey 2px;
  text-shadow: 2px 0 4px #E6E6FA;
}

p[title="Content about what i am gonna do"]{
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
}

p[name="example"]{
  text-decoration: underline purple 2px;
  font-family: arial;
  font-size: 17px;
}

p.Note{
  font: italic normal bold 15px/1.2em courier;
}

img[name="image1"]{
  width: 24.4%;  
  height: 200px;
  float: left;
}

img[name="image2"]{
  width: 24.4%;
  height: 200px;
}

img[name="image3"]{
  width: 24.4%;
  height: 200px;
}

img[name="image4"]{
  width: 24.4%;
  float: right;
  height: 200px;
}

 p.Note-1{
  height: fit-content;
  width: fit content;
  background-color: #FF5900;
  padding: 7px;
  border: 1px black solid;
  outline: 4px orange solid;
}

div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.image5, .image6, .image7, .image8{
  width: 45%;
  max-width: 300px;
  height: 240px;
}
