body{
  counter-reset: section;
  font-family: sans-serif;
}



h1.head-1{
  text-align: center;
  text-decoration: underline black 2px;
  font: italic normal normal 18px/1.2rem serif, sans-serif;
  text-shadow: 2px 2px 5px purple, 0px 0px 4px red;
}

p.p-1{
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 1px 3px grey;
}

h3{
  text-decoration: underline green 2px;
  font-size: 17px;
}

h3::before{
  counter-increment: section;
  content: counter(section) ". ";
}

div[name="T"]{
  height: 100px;
  width: 100px;
  background-color: red;
  border: 1px black solid;
  text-align: center;
  font-size: 14px;
  color: grey;
  box-shadow: 5px 5px 5px 3px black;
  text-shadow: 0 1px 4px white;
  user-select: none;
}

main{display: inline;}

div.translate-1{
  overflow: auto;
  transform: translate(150px, -50px);
}

div.translate-2{
  overflow: auto;
  transform: translate(250px, -250px);
}

p.note{
  position: relative;
  bottom: 150px;
  font-size: 14px;
  font-family: courier;
}

p.note::before{
  content: "Note: "
}

hr.line-2, p.p-2{
  position: relative;
  bottom: 120px
}


div[name="R"]{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: green;
  color: white;
  text-shadow: 2px 2px 4px grey;
  box-shadow: 2px 2px 4px 4px lime;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  float: left;
  margin: 20px;
  user-select: none;
}

section{
  position: relative;
  bottom: 120px;
}


div.rotate-1{transition: 2s transform  0.5s ease;}
div.rotate-1:active{transform: rotate(360deg)}

div.rotate-2{transition: 2s transform 0.5s ease-in;}
div.rotate-2:active{transform: rotateX(180deg);}

div.rotate-3{transition: 2s transform 0.5s ease-out;}
div.rotate-3:active{transform: rotateY(180deg);}

div.rotate-4{transition: 2s transform 0.5s ease-in-out;}
div.rotate-4:active{transform: rotateZ(180deg);}

.tip{
  clear: left;
}
.note-1{
 font-size: 14px;
 font-family: courier;
}

.note-1::before{content: "Note: "}

div[name="S"]{
  height: 100px;
  width: 100px;
  background-color: grey;
  border: 1px black solid;
  text-align: center;
  text-shadow: 2px 2px 5px tan;
  box-shadow: 2px 2px 5px 3px red;
  font-size: 14px;
  float: left;
  margin: 20px;
  user-select: none;
  color: wheat;
  cursor: pointer;
}

div.skew-1:active{transform: skewX(60deg);}
div.skew-2:active{transform: skewY(120deg);}
div.skew-3:active{transform: skew(160deg, 40deg);}

div[name="Sc"]{
  height: 120px;
  width: 120px;
  background-color: #008AFF;
  border: 1px black solid;
  text-align: center;
  font-size: 14px;
  margin: 20px auto;
  user-select: none;
  cursor: pointer;
  color: gold;
  text-shadow: 2px 2px 4px orange;
  box-shadow: 2px 2px 4px 4px blue;
}

div.scale-1{transition: 2s transform 0.5s ease;}
div.scale-1:active{transform: scale(2, 1.2);}

div.scale-2{transition: 2s transform 0.5s ease-in;}
div.scale-2:active{transform: scale(.5, 2)}

div.scale-3{transition: 2s transform 0.5s ease-out;}
div.scale-3:active{transform: scale(.5, .5);}

div.Matrix{
  height: 100px;
  width: 100px;
  background-color: black;
  padding: 5px;
  color: lime;
  user-select: none;
  cursor: pointer;
  text-shadow: 2px 2px 5px green;
  box-shadow: 2px 2px 5px 5px green;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  transition: 2s transform 0.5s linear;
}

div.matrix:active{
  transform: matrix(1.5,70,13,1.5,200,200);
}
