h1:first-child{
  text-align: center;
  font: normal normal normal 19px/1.2rem Arial;
  text-decoration: Underline black 2px;
}

p:first-child{
  font-size: 15px;
  font-weight: bold;
}

p::after{
  content: ".";
}

.dropdown1{
  position: relative;
  display: inline-block;
  background-color: blue;
  color: orange;
  padding:2px;
}

.dropdown-content1{
  display: none;
  position: absolute;
  width: 100px;
  z-index: 1;
  background-color: grey;
  cursor: pointer;
  padding: 7px;
  box-shadow: 2px 2px 5px 4px cyan;
  
}

.dropdown1:hover .dropdown-content1{
  display: block;
}

.dropdown1 > .dropdown-content1 > a{
  text-decoration: none;
  color: red;
  text-shadow: 2px 2px 5px purple;
}

h4{
  text-decoration: underline;
}

hr[name="line2"],hr[name="line3"]{
  margin-top: 70px;
}

hr[name="line3"]{
  margin-top: 200px;
}

.dropdown2{
  display: inline-block;
  position: relative;
  padding: 5px;
  background-color: blue;
  color: orange;
}

.dropdown-content2{
  display:none;
  position: absolute;
  height: 200px;
  width: 200px;
  margin-top: 10px;
}

.dropdown2:hover .dropdown-content2{
  display: block;
}
